VLLM_BASE_URL=http://192.168.0.92:8000
VLLM_MODEL=diffusiongemma-4-26b
VLLM_TIMEOUT_SECONDS=600
VLLM_TEMPERATURE=0
VLLM_MAX_TOKENS=256
SCRAPE_DELAY_SECONDS=0.8
CLASSIFY_DELAY_SECONDS=3.5
REQUEST_TIMEOUT_SECONDS=7
